<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章删除</title>
</head>


<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<body>
<div class="head">
    <div class="header">
        <img src="/static/images/first.png" style="width: 70px;height: 70px;float: left" >
        <h1 style="color: #6D1827">&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp  文章管理系统</h1>
    </div>

    <div class="topnav">
        <a href="../index.html" target="_self">首页</a>
        <a href="tuijian.html" target="_self">推荐</a>
        <a href="#" target="_self">我的关注</a>
        <a href="#" target="_self">我的好友</a>
        <a href="list.html" target="_self">文章列表</a>
        <a href="add.html" target="_self">文章添加</a>
        <a href="delete.html" target="_self">文章删除</a>
        <a href="change.html" target="_self">文章变更</a>
        <a href="contact.html" target="_self" style="float:right;" class="user_login">联系我们</a>
        <a href="login.html" target="_self" style="float:right;" class="user_login">登录</a>
        <a href="register.html" target="_self" style="float:right;" class="user_login">注册</a>
    </div>
</div>
<br>
<br>
<div>
    <form>
        删除文章名：<input type="text"><br>
        删除文章作者：<input type="text"><br>
        <br>
        <input type="button" value="提交">
    </form>
</div>
</body>
</html>