<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="head">
    <div class="header">
        <img src="/static/images/first.png" style="width: 70px;height: 70px;float: left" >
        <h1 style="color: #6D1827">&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp  文章管理系统</h1>
    </div>

    <div class="topnav">
        <a href="../index.html" target="_self">首页</a>
        <a href="tuijian.html" target="_self">推荐</a>
        <a href="#" target="_self">我的关注</a>
        <a href="#" target="_self">我的好友</a>
        <a href="list.html" target="_self">文章列表</a>
        <a href="add.html" target="_self">文章添加</a>
        <a href="delete.html" target="_self">文章删除</a>
        <a href="change.html" target="_self">文章变更</a>
        <a href="contact.html" target="_self" style="float:right;" class="user_login">联系我们</a>
        <a href="login.html" target="_self" style="float:right;" class="user_login">登录</a>
        <a href="register.html" target="_self" style="float:right;" class="user_login">注册</a>
    </div>
</div>
<br>
<br>
<br>
<div>
    <input type="button" value="文章1">  &nbsp &nbsp &nbsp <input type="text" value="文章1内容"><br><br><br>
    <input type="button" value="文章2">  &nbsp &nbsp &nbsp <input type="text" value="文章2内容"><br><br><br>
    <input type="button" value="文章3">  &nbsp &nbsp &nbsp <input type="text" value="文章3内容"><br><br><br>
    <input type="button" value="文章4">  &nbsp &nbsp &nbsp <input type="text" value="文章4内容"><br><br><br>
    <input type="button" value="文章5">  &nbsp &nbsp &nbsp <input type="text" value="文章5内容"><br><br><br>
    <input type="button" value="文章6">  &nbsp &nbsp &nbsp <input type="text" value="文章6内容"><br><br><br>
    <input type="button" value="文章7">  &nbsp &nbsp &nbsp <input type="text" value="文章7内容"><br><br><br>

</div>

</body>
</html>