<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8">
    <title>文章管理系统</title>
</head>

<link rel="stylesheet" type="text/css" href="static/css/index.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<body id="main">
<div class="head">
    <div class="header">
        <img src="static/images/first.png" style="width: 70px;height: 70px;float: left" >
        <h1 style="color: #6D1827">&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp  文章管理系统</h1>
    </div>

    <div class="topnav">
        <a href="index.html" target="_self">首页</a>
        <a href="pages/tuijian.html" target="_self">推荐</a>
        <a href="#" target="_self">我的关注</a>
        <a href="#" target="_self">我的好友</a>
        <a href="pages/list.html" target="_self">文章列表</a>
        <a href="pages/add.html" target="_self">文章添加</a>
        <a href="pages/delete.html" target="_self">文章删除</a>
        <a href="pages/change.html" target="_self">文章变更</a>
        <a href="pages/contact.html" target="_self" style="float:right;" class="user_login">联系我们</a>
        <a href="index.html" target="_self" style="float:right;" class="user_login">退出登录</a>

    </div>
</div>


<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>文章标题</h2>
            <h5>2019 年 4 月 17日</h5>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些文本...</p>
            <p>菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！</p>
        </div>
        <div class="card">
            <h2>文章标题</h2>
            <h5>2019 年 4 月 17日</h5>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些文本...</p>
            <p>菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！</p>
        </div>
        <div class="card">
            <h2>文章标题</h2>
            <h5>2019 年 4 月 17日</h5>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些文本...</p>
            <p>菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！</p>
        </div>
        <div class="card">
            <h2>文章标题</h2>
            <h5>2019 年 4 月 17日</h5>
            <div class="fakeimg" style="height:200px;">图片</div>
            <p>一些文本...</p>
            <p>菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！菜鸟教程 - 学的不仅是技术，更是梦想！</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>关于我</h2>
            <div class="fakeimg" style="height:100px;">图片</div>
            <p>关于我的一些信息..</p>
        </div>
        <div class="card">
            <h3>热门文章</h3>
            <div class="fakeimg"><p>图片</p></div>
            <div class="fakeimg"><p>图片</p></div>
            <div class="fakeimg"><p>图片</p></div>
        </div>
        <div class="card">
            <h3>关注我</h3>
            <p>一些文本...</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>底部区域</h2>
</div>

</body>
</html>